body {
    margin: 30px auto;
    width: 75%;

}

img{
height="60%";
width="30%"
}
p{
    font-size = 20px;

}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-bottom: 1cm;
}

nav ul li, footer ul li {
    display: inline-grid;
    margin-right: 30px;
    padding-right: 80px;

}

a {
    text-decoration: underline;
    color: 000;
    font-size: 20px;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.3em;
    line-height:1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.publications { margin: 0px 0px 80px; }
.publications h3 { font-size: 1em; }
.publications p {
    font-size: 1em;
    line-height:1.4em;
    color: #000;
}
.publications ol li { margin-bottom: 10px; }
.publications a {
    text-decoration: underline;
    color: #000;
    font-size: 1.0em;
}


.teaching { margin: 0px 0px 80px; }
.teaching h3 { 

font-size: 1em;

 }
.teaching p {
    line-height:1.4em;
    font-size: 1em;
    color: #000;
}
.teaching ol li { margin-bottom: 10px; }

.teaching a {
    text-decoration: underline;
    color: #000;
    font-size: 1.0em;
}






